body {
    margin: 10;
    padding: 0;
    /* background-color: rgb(238, 255, 0); */
}


main{
    padding: 16px;
    color:darkslategrey;
    /* background-color: aqua; */
}


div{
    padding-left: 50px;
}


a {
    color: darkslategray;
    text-decoration: none
}

a:hover {
    color: orange;
}

footer{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    color: rgb(255, 255, 255);
    background-color:rgba(0, 0, 255,0.7);
}


img {
    width: 100%;
}

.grid-container {
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.grid-item {

    transition: all 0.01s linear;
    margin: 10px;
    padding: 5px;
    border: 4px solid darkslategray;
    border-radius: 20px;
    box-shadow: 10px 4px rgba(20, 0, 150, 0.3);
    position: relative;
}



.grid-item:hover{
    top: -8px;
    left: -2px;
    box-shadow: 15px 15px rgba(20, 0, 150, 0.529);
}




nav{
    background-color: rgba(0, 0, 255, 0.7);
    border-bottom: 3px solid black;
    padding: 20px;
    padding-left: 50px;
}

nav a {
    color: rgb(255, 255, 255);
}

nav a:hover {
    color:orange;
}


.details-img {
    width: 400px;
    border: 10px solid darkslategray;
    border-radius: 50px;
}


.table-container {
    background-color: gainsboro;
    border: 3px solid darkslategrey;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
}

thead {
    font-size: larger;
    color:black;
    padding: 10px;
}


tbody tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.559);
}
